#facebook-photoupload {
  padding: 10px;
}

#existingAlbumPanel.loading-albums #loadingAlbumsLabel,
#existingAlbumPanel:not(.loading-albums) #albumsList {
  display: block;
}

#existingAlbumPanel:not(loading-albums) #loadingAlbumsLabel,
#existingAlbumPanel.loading-albums #albumsList {
  display: none;
}

#overviewPanelContainer {
  margin: 10px 10px 10px 0px;
  /* the minimum width should show just one thumbnail. make sure this is in
     sync with the .photobox size overviewpanel.html */
  min-width: 260px;
  border: 1px solid #BBBBBB;
}

#editPanel {
  padding: 10px;
}

#editImageContainer {
  padding: 10px 5px;
}

#editImageFrame {
  /* Keep the size of the frame in sync with the max-width/max-height properties
     of the img element in editimage.css */
  width: 420px;
  height: 270px;
  /*-moz-box-shadow: gray 10px 10px 10px;
  border: 3px solid #CCCCCC;*/
}

#addPhotosButton {
  font-size: 130%;
  font-weight: bold;
}

.upload-status.error {
  color: red;
}

#editTagList {
  min-height: 60px;
}

#dragpanel {
    width: 100%;
    background-color: AppWorkspace;
}

#dragpanel > vbox > vbox {
    border: 4px dashed #BBBBBB;
    -moz-border-radius: 1.5em;
    padding: 1.5em 3em;
    text-align: center;
    margin-top: 5em;
}

#dragpanel > vbox > vbox > description {
    font-size: large;
    color: #BBBBBB;
    width: 6em;
    margin-top: 1em;
}

