/* TODO: should probably go to skin */

#facebook-photoupload {
  padding: 10px;
}

#overviewPanelContainer {
  padding: 10px 10px 10px 0px;
}

#editPanel {
  padding: 10px;
}

#editImageContainer {
  padding: 20px 5px;
}

.upload-status.error {
  color: red;
}
