/* TODO: should probably go to skin */

#facebook-photoupload {
  padding: 10px;
}

#photos-container {
  padding: 10px 10px 10px 0px;
}

#sidebar {
  padding: 10px;
}

#sidebarImageContainer {
  padding: 20px 5px;
}

#sidebarImage {
  border: 1px solid #CCCCCC;
}

.upload-status.error {
  color: red;
}
