/* TODO: should probably go to skin */

#facebook-photoupload {
  padding: 10px;
}

#overviewPanelContainer {
  padding: 10px 10px 10px 0px;
  /* the minimum width should show just one thumbnail. make sure this is in
     sync with the .photobox size overviewpanel.html */
  min-width: 260px;
}

#editPanel {
  padding: 10px;
}

#editImageContainer {
  padding: 10px 5px;
}

#editImageFrame {
  width: 300px;
  height: 200px;
}

.upload-status.error {
  color: red;
}
