.notifier-image {
  margin: 2px 5px 0px 5px;
}

.notifier-title {
   color: #3B5998;
   font-weight: bold;
   border-bottom: solid 1px #D8DFEA;
   padding-bottom: 4px;
   margin: 5px 5px 6px 5px;
}

.notifier-text {
   color: #333333;
   width: 140px;
   margin: 5px 5px 10px 5px;
}