.facebook-notifications, #facebook-searchbox image {
  list-style-image: url('chrome://facebook/skin/toolbar.png');
  padding-left: 0px;
}
.facebook-friendlinks toolbarbutton {
  list-style-image: url('chrome://facebook/skin/toolbar.png');
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.facebook-friendlinks {
  margin-left: 6px;
}

#facebook-sidebar-toggle {
  list-style-image: url("chrome://global/skin/icons/autocomplete-dropmarker.png");
}

#facebook-search .textbox-input-box {
  -moz-binding: url('chrome://facebook/content/bindings.xml#facebook-search-hbox');
  padding: 0px;
}

#facebook-search image {
  -moz-image-region: rect(0px 64px 14px 48px);
}

#facebook-search .textbox-input {
  border: none!important;
  padding-left: 3px!important;
}

#facebook-toolbar .typeahead_placeholder {
  color: #777;
}

.facebook-notifications > .toolbarbutton-text {
  padding-left: 2px;
}

.facebook-notifications {
  cursor: pointer;
}

.facebook-notifications[label="0"] {
  cursor: default;
}

.facebook-icon-poke {
  -moz-image-region: rect(0px 16px 14px 0px);
}

.facebook-icon-reqs {
  -moz-image-region: rect(0px 32px 14px 16px);
}

.facebook-icon-msgs {
  -moz-image-region: rect(0px 48px 14px 32px);
}
.facebook-link {
  cursor: pointer;
  color: #3B5998;
}
