.facebook-notifications, .facebook-share, #facebook-searchbox image {
  list-style-image: url('chrome://facebook/skin/toolbar.png');
  padding: 0px;
}

.facebook-friendlinks toolbarbutton {
  list-style-image: url('chrome://facebook/skin/toolbar.png');
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.facebook-friendlinks {
  margin-left: 6px;
}

#facebook-sidebar-toggle {
  padding-left: 12px;
  list-style-image: url("chrome://global/skin/icons/autocomplete-dropmarker.png");
}

#facebook-search .textbox-input-box {
  -moz-binding: url('chrome://facebook/content/bindings.xml#facebook-search-hbox');
  padding: 0px;
}

#facebook-search image {
  -moz-image-region: rect(0px 64px 14px 48px);
}

#facebook-search .textbox-input {
  border: none!important;
  padding-left: 3px!important;
}

#facebook-toolbar .typeahead_placeholder {
  color: #777;
}

.facebook-notifications > .toolbarbutton-text {
  padding: 0px;
}

.facebook-icon-poke {
  -moz-image-region: rect(0px 16px 14px 0px);
}

.facebook-icon-poke:hover {
  -moz-image-region: rect(0px 188px 14px 172px);
}

.facebook-icon-poke:active {
  -moz-image-region: rect(0px 236px 14px 220px);
}

.facebook-icon-reqs {
  margin-left: 5px;
  -moz-image-region: rect(0px 32px 14px 16px);
}

.facebook-icon-reqs:hover {
  -moz-image-region: rect(0px 204px 14px 188px);
}

.facebook-icon-reqs:active {
  -moz-image-region: rect(0px 252px 14px 236px);
}

.facebook-icon-msgs {
  margin-left: 5px;
  -moz-image-region: rect(0px 48px 14px 32px);
}

.facebook-icon-msgs:hover {
  -moz-image-region: rect(0px 220px 14px 204px);
}

.facebook-icon-msgs:active {
  -moz-image-region: rect(0px 268px 14px 252px);
}

.facebook-icon-share {
  padding: 0px;
  -moz-image-region: rect(0px 118px 18px 64px);
}

.facebook-icon-share:hover {
  -moz-image-region: rect(0px 172px 18px 118px);
}

#facebook-login-info-name {
  padding: 0px;
  margin: 0px;
  border: solid 1px #546324;
}

#facebook-name-info {
  margin: 0px;
}

#facebook-login-status {
  margin: 0px;
}

.button:hover {
  color: #3b5998;
  text-decoration: underline;
}

.button:active {
  color: #2f4778;
  text-decoration: underline;
}

.facebook-link {
  cursor: pointer;
  color: #3B5998;
}
.popupFriendBox, .friendBox {
  -moz-binding: url('chrome://facebook/content/bindings.xml#friendBox');
  padding: 5px;
}
.popupFriendBox .facebook-friendlinks {
  display: none;
}
#PopupMessager {
  -moz-binding: url('chrome://facebook/content/bindings.xml#popupMessager');
  padding: 5px;
  margin: 0px;
}
#PopupPoker {
  -moz-binding: url('chrome://facebook/content/bindings.xml#popupPoker');
  padding: 5px;
  margin: 0px;
}

.status {
   color: #808080;
   width: 100px;
   margin-bottom: 3px;
}

.user_name {
   font-weight: bold;
}
